.product-detail {
    margin: 20px;
    img {
        object-fit: fill;
    }
    .product-card {
      width: 100%;
      max-width: 400px;
      height: auto;
  
     
  
      .name {
          font-size: 20px !important;
      }
  
      .cost {
          display: flex;
          p {
              margin-right: 5px;
          }
      }
    }
  }
  